name: Docker Image CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: sed on application.properties
        run: |
          sed -i 's/localhost/172.17.0.2/g' src/main/resources/application.properties
          sed -i 's|C:/Users/Gokul/private.pem|/home/private.pem|g' src/main/resources/application.properties
          sed -i 's|C:/Users/Gokul/public.pem|/home/public.pem|g' src/main/resources/application.properties

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: "17"
          distribution: "temurin"
          cache: maven

      - name: Maven Tests
        run: mvn test

      - name: Create jar file for Spring Boot App
        run: mvn clean package --file pom.xml

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Docker build setup
        uses: docker/setup-buildx-action@v3

      - name: Docker build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/spring_server101:docs-server
