name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Create jar file for Spring Boot App
      run: mvn clean package --file pom.xml
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag docs-server-image:$(date +%s)
